$mainBackgroundColor: rgba(255, 255, 255, 0.178);
$secondaryBackgroundColor: rgb(255, 255, 255);
$navTextColor: #d4b66c;

a {
  text-decoration: none;
}
nav {
  z-index: 1000;
  display: flex;
  position: fixed;
  max-width: 1170px;
  width: 100%;

  background-color: $mainBackgroundColor;
  flex-wrap: nowrap;
  flex-direction: column;
  .nav-bar {
    display: flex;
    justify-content: space-between;
    max-height: 90px;
  }
  .return-button {
    width: 20%;
    text-align: left;
    p {
      color: $navTextColor;
      font-size: 40px;
      margin: 10px 25px;
    }

    .hamburger {
      color: $navTextColor;
      margin: 5px 15px;
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .bar1,
      .bar2,
      .bar3 {
        width: 35px;
        height: 5px;
        background-color: $navTextColor;
        border-radius: 5px;
        margin: 3px 15px;
        transition: 0.4s;
      }
      &.change {
        .bar1 {
          -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
        }
        .bar2 {
          opacity: 0;
        }
        .bar3 {
          -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
        }
      }
    }
    .logo {
      width: 20%;
      display: flex;
      float: left;
      padding-right: 15px;
      @media (max-width: 900px) {
        width: 25%;
      }
      @media (max-width: 650px) {
        width: 40%;
      }

      img {
        width: 100%;
      }
    }
    .links {
      position: absolute;
      display: none;
      opacity: 0;
      top: 95%;
      padding: 5px;
      font-size: 1em;
      color: $navTextColor;
      @media (max-width: 900px) {
        top: 90%;
      }
      &.visible {
        opacity: 1;
        display: block;
        ul {
          background: $secondaryBackgroundColor;
          list-style: none;
          margin: 0;
          padding-left: 0;
          width: 50%;
          li {
            background: $secondaryBackgroundColor;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            position: relative;
            text-decoration: none;
            transition-duration: 0.5s;
            a {
              color: $navTextColor;
            }
            & ul,
            &:hover {
              background: $secondaryBackgroundColor;
              cursor: pointer;

              & > ul {
                visibility: visible;
                opacity: 1;
                display: block;
              }
            }
            ul {
              background: rgba(244, 244, 248, 0.356);
              visibility: hidden;
              opacity: 0;
              min-width: 5rem;
              position: absolute;
              transition: all 0.5s ease;
              top: 0;
              left: 100%;
              display: none;
              z-index: 120;

              li {
                clear: both;
                width: 100%;
                a {
                  color: $navTextColor;
                }
              }
            }
          }
        }
      }
    }
  }
}
