a {
  text-decoration: none;
}

nav {
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  max-width: 1170px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.178);
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 90px;
}

nav .return-button {
  width: 20%;
  text-align: left;
}

nav .return-button p {
  color: #d4b66c;
  font-size: 40px;
  margin: 10px 25px;
}

nav .return-button .hamburger {
  color: #d4b66c;
  margin: 5px 15px;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .return-button .hamburger .bar1,
nav .return-button .hamburger .bar2,
nav .return-button .hamburger .bar3 {
  width: 35px;
  height: 5px;
  background-color: #d4b66c;
  border-radius: 5px;
  margin: 3px 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav .return-button .hamburger.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

nav .return-button .hamburger.change .bar2 {
  opacity: 0;
}

nav .return-button .hamburger.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

nav .return-button .logo {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  padding-right: 15px;
}

@media (max-width: 900px) {
  nav .return-button .logo {
    width: 25%;
  }
}

@media (max-width: 650px) {
  nav .return-button .logo {
    width: 40%;
  }
}

nav .return-button .logo img {
  width: 100%;
}

nav .return-button .links {
  position: absolute;
  display: none;
  opacity: 0;
  top: 95%;
  padding: 5px;
  font-size: 1em;
  color: #d4b66c;
}

@media (max-width: 900px) {
  nav .return-button .links {
    top: 90%;
  }
}

nav .return-button .links.visible {
  opacity: 1;
  display: block;
}

nav .return-button .links.visible ul {
  background: white;
  list-style: none;
  margin: 0;
  padding-left: 0;
  width: 50%;
}

nav .return-button .links.visible ul li {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

nav .return-button .links.visible ul li a {
  color: #d4b66c;
}

nav .return-button .links.visible ul li ul, nav .return-button .links.visible ul li:hover {
  background: white;
  cursor: pointer;
}

nav .return-button .links.visible ul li ul > ul, nav .return-button .links.visible ul li:hover > ul {
  visibility: visible;
  opacity: 1;
  display: block;
}

nav .return-button .links.visible ul li ul {
  background: rgba(244, 244, 248, 0.356);
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 0;
  left: 100%;
  display: none;
  z-index: 120;
}

nav .return-button .links.visible ul li ul li {
  clear: both;
  width: 100%;
}

nav .return-button .links.visible ul li ul li a {
  color: #d4b66c;
}

.section {
  padding: 10px;
}

.section ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

.section ul li {
  font-size: 20px;
}

.section ul li:before {
  content: "\01F4A1";
  padding-right: 5px;
}

.section p {
  text-align: justify;
  text-justify: inter-word;
  font-size: 20px;
}

.section img:first-child {
  width: auto;
}

@media (max-width: 650px) {
  .section img:first-child {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
}

@media (max-width: 400px) {
  .section img:first-child {
    -webkit-transform: translateX(-35%);
            transform: translateX(-35%);
  }
}

.section img {
  width: 100%;
}

.image-main {
  width: 100%;
  padding-bottom: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  float: right;
  overflow: hidden;
  overflow: hidden;
}

.image-main img {
  height: 65vh;
  float: right;
}

.image-main p {
  position: absolute;
  color: #cfcfd6;
  right: 10%;
  bottom: 5%;
  font-size: 1.5em;
}

.sections {
  width: 100%;
  height: 100vh;
  z-index: 100;
}

.sections .panel {
  height: 98vh;
  margin: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sections .panel .glider-dots {
  position: absolute;
}

.sections .panel img {
  max-height: 100vh;
}

.sections .panel img.scale-up {
  height: 1000px;
}

.sections .panel .text-wrapper {
  position: absolute;
  bottom: 10%;
  right: 5%;
  color: white;
  text-align: right;
}

.sections .panel .text-wrapper p {
  text-align: right;
}

body {
  background-color: white;
  max-width: 1170px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */